#!/usr/bin/make -f

SHELL=/bin/bash
ARCH := $(shell uname -m)
DISTRO=$(shell lsb_release -a 2>/dev/null |grep Codename |awk {'printf $$2;'})
debian_version := $(shell dpkg-parsechangelog | sed -n 's/^Version: //p')

ifneq (,$(filter $(DISTRO),buster stretch))
HIREDIS=libhiredis0.13
MYSQL=libmariadbclient18
else ifneq (,$(filter $(DISTRO),xenial bionic))
HIREDIS=libhiredis0.13
MYSQL=libmysqlclient20
else
HIREDIS=libhiredis0.10
MYSQL=libmysqlclient18
endif

ifeq ($(DISTRO),xenial)
DOCKER_FLAG="--enable-docker"
endif


CFLAGS = -g

%:
	dh $@

override_dh_auto_configure:
	echo "building for $(DISTRO)-$(ARCH)"
	./clean.sh && ./build.sh
	dh_auto_configure -- --prefix=/opt/stackdriver/collectd \
	--program-prefix=stackdriver- \
	--disable-all-plugins \
	--disable-static \
	--disable-perl --without-libperl  --without-perl-bindings \
	--enable-cpu \
	--enable-df \
	--enable-disk \
	--enable-load \
	--enable-logfile \
	--enable-logging-metrics \
	--enable-memory \
	--enable-swap \
	--enable-syslog \
	--enable-interface \
	--enable-tcpconns \
	--enable-write_http \
	--enable-aggregation \
	--enable-csv \
	--enable-nginx \
	--enable-apache \
	--enable-memcached \
	--enable-mysql \
	--enable-protocols \
	--enable-plugin_mem \
	--enable-processes \
	--enable-python \
	--enable-ntpd \
	--enable-nfs \
	--enable-stackdriver_agent \
	--enable-exec \
	--enable-tail \
	--enable-statsd \
	--enable-network \
	--enable-match_regex --enable-target_set \
	--enable-target_replace --enable-target_scale \
	--enable-match_throttle_metadata_keys \
	--enable-write_log \
	--enable-unixsock \
	--with-useragent="stackdriver_agent/$(debian_version)" \
	--enable-java --with-java=/usr/lib/jvm/default-java \
	--enable-redis --with-libhiredis \
	--enable-curl \
	--enable-curl_json \
	--enable-write_gcm \
	--enable-debug \
	$(DOCKER_FLAG)

# filter out shlib deps we don't want to force on people
override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params="-x$(MYSQL) -x$(HIREDIS)"

override_dh_strip:
	dh_strip --dbg-package=stackdriver-agent
